{% extends "MenuBundle::layout.html.twig" %}


{% block title %}
    Ilot du régal  - {{ parent() }}
{% endblock %}

{% block body_site %}
	<div class="text-center">
		{% block body_menuI %}
			<h3 >Ilot du régal</h3>
			{% for menu in ilot %}
				<div class="well">
					{{menu |nl2br }}
				</div>
				<br/>
				<br/>
			{% endfor %}
		{% endblock %}
	</div>
{% endblock %}
  
{% block footer %}
	<address>
		2 Ruelle sansevieras Saint-Clotilde, 97490 Saint-Denis (La Réunion)
			<br/>
		Du lundi au vendredi : de 6h à 15h
			<br/>
		Téléphone +262 692 58 10 10
	</address>
{% endblock %}