{% extends "MenuBundle::layout.html.twig" %}


{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body_site %}

	{% set date =  'now'|localizeddate('none', 'none', 'fr', null, 'd MMMM') %}
	
	<section class="container-fluid" id="section1">
			
		<div class="row text-justify">
		
		<div id="menu" class="col-md-6">
			{% block body_menuI %}
				<h3 class="well well-lg">Ilot du régal </h3>
				{% for menu in ilot %}
			
				
					{% if date in (menu|lower) %}
						<div class="well">
							{{menu |nl2br }}
						</div>
						{% if "rougail saucisse" in (menu|lower) %}
							<script type="text/javascript">    
								var rougailIlot = 1;
								//alert("rougailIlot");
							</script>
						{% endif %}
						{% if "poulet à  la crème" in (menu|lower) %}
							<script type="text/javascript">    
								var pouletIlot = 1;
								//alert("pouletIlot");
							</script>
						{% endif %}
					{% endif %}
			
				{% endfor %}
			{% endblock %}
		</div>
		<div id="menu" class="col-md-6">
			{% block body_menuR  %}
				<h3 class="well well-lg">Régal du circuit</h3>
				{% for menu in regal %}
			
				
					{% if date in (menu|lower) %}
						<div class="well">
							{{ menu |nl2br }}
						</div
						{% if "rougail saucisse" in (menu|lower) %}
							<script type="text/javascript">    
								var rougailRegal = 1;
								//alert("rougailRegal");
							</script>
						{% endif %}
						{% if "poulet à  la crème" in (menu|lower) %}
							<script type="text/javascript">    
								var pouletRegal = 1;
								//alert("pouletRegal");
							</script>
						{% endif %}
					{% endif %}
				
			
				{% endfor %}
			{% endblock %}

					
		</div>
		</div>	
	</section>
	
{% endblock %}
	

{% block footer %}
<nav class="navbar navbar-primary navbar-fixed-bottom bg-info">

</nav>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		if(typeof rougailIlot != 'undefined'){
			alert("Vous pouvez déguster aujourd'hui un bon rougail saucisse chez L'Ilot Régal");
		}
		if(typeof rougailRegal != 'undefined'){
			console.log(rougailRegal);
			alert("Vous pouvez déguster aujourd'hui un bon rougail saucisse chez Régal du circuit");
		}
		if(typeof pouletIlot != 'undefined'){
			alert("Vous pouvez déguster aujourd'hui un délicieux poulet à la crème chez L'Ilot Régal");
		}
		if(typeof pouletRegal != 'undefined'){
			alert("Vous pouvez déguster aujourd'hui un délicieux poulet à la crème chez Régal du circuit");
		}
    </script>
{% endblock %}