{% extends "MenuBundle::layout.html.twig" %}


{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
Ilot
{% for menu in ilot %}
    <li>
       {{ menu }} 
    </li>
  {% endfor %}
  
  Régal
  {% for menu in regal %}
    <li>
       {{ menu }} 
    </li>
  {% endfor %}
  
{% endblock %}